@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
* {
  font-family: 'Poppins', sans-serif;
}



.fondo_login{
  background: linear-gradient(295deg, #0CB2D6 10.83%, #1C1C34 93.89%);
}

